* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 241);

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin: auto;
}

/* PALAVRAS */
.tentativas {
    width: 30%;
    height: fit-content;
    margin: 50px auto;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.palavra {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.palavra .letr {
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 70px;
    height: 50px;
    margin: 2px 4px;
    border-radius: 10px;
    border-bottom: 3px solid purple;
}

/* TECLADO */
.botoes {
    display: flex;
    width: 60%;
    margin: auto;

    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.botoes input {
    display: none;
}

.botoes label {
    min-width: 50px;
    min-height: 50px;
    border-radius: 15px;
    margin: 5px;
    background-color: cadetblue;
    border: 2px solid cadetblue;

    display: flex;
    align-items: center;
    justify-content: center;
    font-family: cursive;
    font-weight: bold;
    color: white;
}

.botoes label:hover {
    background-color: aquamarine;
    border: 2px solid black;
    color: black;
    cursor: pointer;
    font-weight: bolder;
}
